<div class="py-3 m-5">
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-center">Purchase Information</h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <th>SL Number</th>
                    <th>Date of Purchase</th>
                    <th>Items</th>
                    <th>Amount</th>
                    <th>Session Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let m of getData()">
                        <td>{{m.serialNumber}}</td>
                        <td>{{m.dated| date:'dd-MM-yyyy'}}</td>
                        <td>{{m.items}}</td>
                        <td>{{m.amount | currency : 'USD'}}</td>
                        <td>{{m.sessionName}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="updateClick( m)">Edit</button> &nbsp;
                            <button class="btn btn-danger" (click)="deleteClick(m.serialNumber)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 mx-auto">
            <h3 *ngIf="editting" class="text-center">Updating Purchase info</h3>
            <h3 *ngIf="!editting" class="text-center">Add New Purchase </h3>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="form-group">
                    <label class="form-label">Serial Number</label>
                    <input class="form-control" [(ngModel)]="formData.serialNumber" name="serialNumber" required type="number">
                </div>

                <div class="form-group">
                    <label class="form-label">Date of Purchace</label>
                    <input class="form-control" [(ngModel)]="formData.dated" name="dated" type="date">
                </div>

                <div class="form-group">
                    <label class="form-label">Items</label>
                    <input class="form-control" [(ngModel)]="formData.items" name="items">
                </div>

                <div class="form-group">
                    <label class="form-label">Amount</label>
                    <input class="form-control" [(ngModel)]="formData.amount" name="amount" type="number">
                </div>

                <div class="form-group">
                    <label class="form-label">Session Name</label>
                    <select class="form-control" #ss name="bloodGroup" (change)="setSession(ss.value)" required>
                        <option disabled selected>Select session Name</option>
                        
                        <option *ngFor=" let b of SessionData" value="{{b.sessionNumber}}">{{b.sessionName}}</option>   
                   </select>
                </div>

                <button type="submit" class="btn btn-info btn-large">{{editting? 'Update': 'Send'}}</button>
                &nbsp;&nbsp; &nbsp; &nbsp; 
                <button type="reset" class="btn btn-info btn-large ">Reset</button> &nbsp;&nbsp; 
                &nbsp;&nbsp; &nbsp; &nbsp;
                <button type="button" class="btn btn-secondary" routerLink="/">Go to member list...</button>
            </form>
        </div>
    </div>
</div>
