<nav class="navbar navbar-expand-md  bg-dark text-white" >
    <a class="navbar-brand" routerLink="/">Sadhin Bangla</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/session">Session</a>
        <a class="nav-item nav-link" routerLink="/purchase">Purchase</a>
        <a class="nav-item nav-link " routerLink="/fundcollect">Funding</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>

